.services img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.services {
    margin-top: 2%;;
}

.service-category {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-category h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .service-category ul {
    list-style: none;
    padding: 0;
  }
  
  .service-category li {
    margin-bottom: 15px;
  }
  
  .service-category h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0;
  }
  
  .service-category p {
    font-size: 0.9rem;
    margin: 5px 0;
  }
  
  .price {
    font-weight: bold;
    color: #d4af37; /* Gold color */
  }

  .spa-item {
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 0;
}

.spa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.spa-header h4 {
  margin: 0;
  font-weight: 500;
}

.meta {
  display: flex;
  gap: 16px;
  align-items: center;
}

.price-2 {
  font-weight: 600;
  text-align: right;
  min-width: 60px;
  color: #d4af37; /* Gold color */
}

.duration {
  font-size: 0.85rem;
  color: #777;
}

.details {
  margin-top: 10px;
  padding-left: 16px;
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}