* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background-color: #ffffff;
    color: #000;
  }
  h1, .welcome {
    font-family: 'Playfair Display', serif;
    color: #000;
  }

  .carousel-home {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carousel-inner img {
    width: 100%;
    height: 550px; /* Adjust this value to your desired height */
    object-fit: cover;
    object-position: center;
  }



    @media only screen and (max-width: 768px) {

        .carousel-home {
            width: 90%
        }

    }

  .welcome {
    text-align: center;
    margin: 1px 20px 20px;
    font-size: 2em;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
  }

  .card h3 {
    color: #d4af37;
  }
  .card {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #000;
    border-radius: 8px;
    margin: 10px;
    flex: 1 1 30%;
    max-width: 30%;
    text-align: center;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease;
    flex: 1 1 calc(33.333% - 20px); /* Default: 3 cards per row */
  }

  .card-button img {
    width: 25px;
    border-radius: 8px;
  }

  .card-service {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  .card:hover {
    transform: translateY(-5px);
  }
  .card-button {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  .card-button img {
    width: 30px;
    height: 30px;
  }
  .card:hover .card-button {
    display: block;
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .feature {
    background: #fff;
    border: 1px solid #000;
    margin: 10px;
    flex: 1 1 30%;
    max-width: 30%;
    padding: 20px;
    border-radius: 150px 150px 20px 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
  }
  .feature:hover {
    transform: translateY(-5px);
  }
  .feature img {
    width: 100%;
    border-radius: 150px 150px 0 0;
  }

  @media (min-width:769px) {
    .sticky-button {
        display: none;
      }
  }
  
  @media (max-width: 768px) {
    .card, .feature {
      max-width: 100%;
      flex: 1 1 100%;
    }

    .floating-button {
        display: none;
    }

    .sticky-button {
        top: 10px; /* Adjust to position above the carousel */
        z-index: 1000;
        background-color: #d4af37; /* Gold color */
        color: #fff;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display:block;
        width:96%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: auto;
        display: block;
    }
  }

  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #d4af37;
    border: 2px solid #d4af37;
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .floating-button:hover {
    background-color: #d4af37;
    color: #000;
  }

  
  .sticky-button.sticky {
    position: fixed; /* Stick to the top when scrolling */
    top: 0;
    display: block;
  }

  .embellishment {
    display: block;
    margin: 0 auto;
  }

  .image-text-section {
    display: flex;
    flex-wrap: wrap; /* Allow stacking on smaller screens */
    width: 100%; /* Full width of the screen */
  }
  
  .image-container, .text-container {
    flex: 1 1 100%; /* Default: Full width for stacking */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 20px; /* Add spacing */
  }
  
  .image-container img {
    width: 100%; /* Make the image responsive */
    height: auto;
    border-radius: 10px; /* Optional: Add rounded corners */
  }
  
  .text-container {
    text-align: center; /* Center text */
  }
  
  .text-container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #000;
    width: 100%; /* Full width for the heading */
  }
  
  .text-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #555;
  }
  
  @media (min-width: 769px) {
    .image-container, .text-container {
      flex: 1 1 50%; /* Side by side on larger screens */
    }
  }
  